<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/formsubmit" method="post">
        <input type="email" value="abc@xyz.com" name="email" required>
        <input type="password" name="password" required>
        <input type="text" name="image" placeholder="image url here">
        <input type="submit" name="" value="Submit Form">
        
    </form>
</body>
</html>